/*
 * 3 field widget display
 */
.predicate {
  padding: 2px;
  margin-right: 10px;
  background-color: #eeeeee;
}

.predicate-add {
  margin-right: 5px;
  margin-left: 5px;
}

.predicate-holder {
  margin-top: 10px;
  margin-bottom: 10px;
}

.predicate-remove {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

/*
 * Fieldset in RDF Settings block on bundle's main edit page
 */
.vertical-tabs #edit-rdf-title {
  background:none;
  padding: 0;
}

.vertical-tabs #edit-rdf-title legend {
  display: inline;
  padding: 20px 0 30px;
}