/*
 * 3 field widget display
 */
.term {
  padding: 2px;
  margin-right: 10px;
  background-color: #eeeeee;
}

.term-add {
  margin-right: 5px;
  margin-left: 5px;
}

.term-holder {
  margin-top: 10px;
  margin-bottom: 10px;
}

.term-remove {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

/*
 * Fieldset in RDF Settings block on bundle's main edit page.
 */
.vertical-tabs #edit-rdf-title {
  background:none;
  padding: 0;
}

.vertical-tabs #edit-rdf-title legend {
  display: inline;
  padding: 20px 0 30px;
}

/*
 * Terms autocomplete on administrative screens.
 */
.rdf-label-autocomplete,
.rdf-label-autocomplete{
  display: block;
}