.predicate {
  padding: 2px;
  margin-right: 10px;
  background-color: #eeeeee;
}

.predicate-add {
  margin-right: 5px;
  margin-left: 5px;
}

.predicate-holder {
  margin-top: 10px;
  margin-bottom: 10px;
}

.predicate-remove {
  cursor: pointer;
  color: red;
  font-weight: bold;
}